@{
  Layout = "_Layout";
}

@model AdminPortal.Models.Team

<h4>@Model.Name</h4>

<p>ID: @Model.TeamId</p>
<p>Name: @Model.Name</p>
<p>Wins: @Model.Wins</p>
<p>Losses: @Model.Losses</p>

<hr />
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.TeamId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.TeamId })</p>
<hr />
<p>@Html.ActionLink("Teams List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

