@{
  Layout = "_Layout";
}

@model AdminPortal.Models.Team

<h4>@Model.Name</h4>

<p>ID: @Model.TeamId</p>
<p>Name: @Model.Name</p>
<p>Wins: @Model.Wins</p>
<p>Losses: @Model.Losses</p>
<hr />

<h5>Animals part of @Model.Name</h5>
<div class="mb-3">
  <ul>
    @foreach (KeyValuePair<int, Animal> entry in ViewBag.AnimalsInTeam)
    {
      <li>
        @entry.Value.Name:
        HP: @entry.Value.HP
        Attack: @entry.Value.Attack
      </li>
    }
  </ul>
</div>

<hr />
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.TeamId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.TeamId })</p>
<p>@Html.ActionLink("Test Battle", "Battle", new { id = Model.TeamId })</p>
<hr />
<p>@Html.ActionLink("Teams List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Account")</p>
