@{
  Layout = "_Layout";
}
@using AdminPortal.Models
@model AdminPortal.Models.Team

<h3>Edit this Team: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TeamId)
  <div>
    @Html.LabelFor(model => model.TeamId)
    @Html.TextBoxFor(model => model.TeamId)
  </div>
  <div>
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
  </div>
  <div>
    @Html.LabelFor(model => model.Wins)
    @Html.TextBoxFor(model => model.Wins)
  </div>
  <div>
    @Html.LabelFor(model => model.Losses)
    @Html.TextBoxFor(model => model.Losses)
  </div>
  <div>
    @Html.LabelFor(model => model.UserId)
    @Html.TextBoxFor(model => model.UserId)
  </div>

  <input type="submit" value="Save" />
}
<hr />

<h4>Animals part of @Model.Name</h4>
<div class="mb-3">
  <ul>
    @foreach (KeyValuePair<int, Animal> entry in ViewBag.AnimalsInTeam)
    {
      <li>
        @entry.Value.Name:
        HP: @entry.Value.HP
        Attack: @entry.Value.Attack
        @using (Html.BeginForm("DeleteAnimalFromTeam", "Teams", FormMethod.Post, new { @class = "form-inline" }))
        {
          @Html.Hidden("TeamId", Model.TeamId)
          @Html.Hidden("AnimalTeamId", entry.Key)
          <input type="submit" value="Delete" class="btn btn-dark" />
        }
      </li>
    }
  </ul>
</div>
<hr />

<h4>Add Animals...</h4>
@using (Html.BeginForm("AddAnimalToTeam", "Teams"))
{
  @Html.Hidden("TeamId", Model.TeamId)
  <div class="mb-3">
    @Html.DropDownList("AnimalId", ViewBag.Animals, null, new { required = "required" })
  </div>
  <input type="submit" value="Add New Animal" />
}

<hr />
<p>@Html.ActionLink("Back", "Details", new { id = Model.TeamId })</p>
