@{
  Layout = "_Layout";
}

<h2>List of All Teams</h2>
<hr />
<p>@Html.ActionLink("Create Team", "Create")</p>
<hr />
<p>@Html.ActionLink("Home", "Index", "Account")</p>
<hr />
<ol>
  @foreach (Team team in Model)
  {
    <ul>
      <li>Team Id: @team.TeamId</li>
      <li>Name: @team.Name</li>
      <li>Wins: @team.Wins</li>
      <li>Losses: @team.Losses</li>
    </ul>
    <a href="/Teams/Details/@(team.TeamId)">
      <p>View Details</p>
    </a>
  }
</ol>
