@{
  Layout = "_Layout";
}

<h2>List of Available Animals</h2>
<hr />
<p>@Html.ActionLink("Create Animal", "Create")</p>
<hr />
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<hr />
<ol>
  @foreach (Animal animal in Model)
  {
    <ul>
      <li>Name: @animal.Name</li>
      <li>HP: @animal.HP</li>
      <li>Attack: @animal.Attack</li>
    </ul>
    <a href="/Animals/Details/@(animal.AnimalId)">
      <p>View Details</p>
    </a>
  }
</ol>
